# This file includes all requirements including
# those that are optional.
pandas
numpy
blinker
odo
matplotlib
numexpr
click
xarray
scipy
pyqtgraph
seaborn
pydataset
h5py
pydons
tabulate
sqlalchemy
networkx<2.0
qtpy
feather-format